body {
    background-color: #571B7E;
}

body[title*="page2.html"] {
 
    background-color:white;
}


h2 {
    text-align: center;
}

li {
    display: inline;
    float:left;
    
}

a {
    display:block;
    width: 60px;
}

h2 {
    
    clear:both;

}


.top-bar-section li.active:not(.has-form) a:not(.button),
.top-bar-section li:not(.has-form) a:not(.button) {
    
    background:#333333;

}
.top-bar-section li.active:not(.has-form) a:not(.button) {
    background:Purple;
}
